<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div class="search_box">
            <label for="location">Enter a zip code:</label>
            <input type="text" id="location" name="location">
            <input type="submit" value="submit">
        </div>
    </form>
</body>
</html>