<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static',filename='weather.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="page">
    <div class="header">
        <p class="forecast_title">
            Forecast
        </p>
    </div>
    <div class="parent_div">
        <div class="div1">
        <p class="local_info">
            {{location}}
            <br/>
            {{local_time}}
        </p>
        </div>
        <div class="div2">
            <p class="current_tmp">{{current_temp}}°F</p>
            <img src="{{pic}}" class="weather_pic"/>
            <p class="weather_paragraph">
                high: {{high}}°F
                <br/>
                Low: {{low}}°F
                <br/>
                wind speed: {{wind_mph}} mph
                <br/>
                description: {{text}}
            </p>
        </div>
    </div>
    <div class="footer">
        <form method="POST">
            <button type="submit" id="quote_btn" class="return_btn">search</button>
        </form>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>