<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="weather_report">
        <img src="{{pic}}" alt="icon of weather">
        <br>
        <p class="weather_desc">today's high: {{high}}°F</p>
        <br>
        <p class="weather_desc">today's low: {{low}}°F</p>
        <br>
        <p class="weather_desc">current temperature: {{current_temp}}°F</p>
        <br>
        <p class="weather_desc">wind speed: {{wind_mph}} mph</p>
        <br>
        <p class="weather_desc">local time: {{local_time}}</p>
        <br>
        <p class="weather_desc">description: {{text}} </p>
    </div>
    <div class="weather_reports">
        <div class="weather_report_ex">
            <img src="{{pic}}" alt="icon of weather">
            <br>
            <p class="weather_desc_ex">today's high: {{high}}°F</p>
            <br>
            <p class="weather_desc_ex">today's low: {{low}}°F</p>
            <br>
            <p class="weather_desc_ex">current temperature: {{current_temp}}°F</p>
            <br>
            <p class="weather_desc_ex">wind speed: {{wind_mph}} mph</p>
            <br>
            <p class="weather_desc_ex">local time: {{local_time}}</p>
            <br>
            <p class="weather_desc_ex">description: {{text}} </p>
        </div>
    </div>
    <a href="{{url_for('home')}}"  class="return_btn">Return</a>
</body>
</html>